################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/TurboLint/Debug
/TurboLint.VC.VC.opendb
/TurboLint.VC.db
/.vs/TurboLint/v14/.suo
*.orig
/TurboLint/x64/Debug
/TurboLint/pre.txt
/TurboLint/TurboLint.vcxproj.user
/.vs/TurboLint/v15/ipch/AutoPCH/df6a27d4/TURBOLINT-7f352fe3
/.vs/TurboLint/v15
/.vs
/teste.c
/Release
/x64/Debug
/TurboLint/teste.json
