################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/TurboLint/Debug
/TurboLint.VC.VC.opendb
/TurboLint.VC.db
